<footer>
	<div class="container mt-5">
		<div class="row row-footer justify-content-center align-item-center">
			<div class="col-auto">
					<p>chocolate.com Inc 2010-2019</p>
			</div>
		</div>
	</div>
</footer>