<header> 
	<div class="container">
		<div class="row align-item-center">
			<div class="col-auto">
	           <a href="/index"><img src="/assets/images/logo.jpg" alt="chocolate.com" height="50" width="50"></a>
			</div>	
			<div class="col-9 mr-auto">	
				<h1>Chocolate.com</h1>
			</div>
		</div>
	</div>
</header>